<div class="map-container">
  <div
    style="height: 400px; width: 100%"
    leaflet
    [leafletOptions]="mapOptions"
    [leafletCenter]="currentCenter"
    [leafletZoom]="currentZoom"
    (leafletMapReady)="onMapReady($event)"
    (leafletClick)="onMapClick($event)"
  >
    @if (currentMarker(); as m) {
    <div [leafletLayer]="m"></div>
    }
  </div>
</div>
<div class="actions flex justify-content-end gap-2 mt-3">
  <p-button
    label="Cancel"
    icon="pi pi-times"
    severity="secondary"
    (onClick)="cancel.emit()"
  ></p-button>
  <p-button
    label="Confirm Location"
    icon="pi pi-check"
    [disabled]="!currentMarker()"
    (onClick)="confirmSelection()"
  ></p-button>
</div>
