<div class="timeline-container">
  <h1 class="page-title">
    <i class="pi pi-clock"></i>
    Photo Timeline
  </h1>

  <p-timeline [value]="groupedPhotos()" align="alternate" class="photo-timeline">
    <ng-template pTemplate="content" let-event>
      <div class="block md:hidden mb-3 font-bold text-orange-500">{{ event.formattedDate }}</div>
      @for (photo of event.photos; track photo.id) {
      <p-card [header]="photo.title" class="timeline-card mb-4 block">
        <div class="photo-preview" [routerLink]="['/hub', photo.id]">
          <img [src]="photo.src" [alt]="photo.title" />
          <div class="hover-overlay">
            <i class="pi pi-eye"></i>
          </div>
        </div>
        <p class="photo-description">{{ photo.description }}</p>
        @if ((photo | locationName:locations())) {
        <div class="location-info">
          <i class="pi pi-map-marker"></i>
          {{ photo | locationName:locations() }}
        </div>
        }
        <ng-template pTemplate="footer">
          <p-button label="View Details" [routerLink]="['/hub', photo.id]" [text]="true" icon="pi pi-arrow-right"
            iconPos="right"></p-button>
        </ng-template>
      </p-card>
      }
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
      <span class="timeline-date">{{ event.formattedDate }}</span>
    </ng-template>
  </p-timeline>
</div>